.page3-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
  }
  
  .page3-svg {
    position: absolute;
    top:0;
    left:0;
    height: 110%;
    animation-name: fade-in;
    animation-duration: 1450ms;
    animation-timing-function: ease-out;
    z-index: -1;
  }

  .content{
    display: block;
    align-items:center;
    padding: 5vh;
  }

  .logo{
    animation-name: box-animate;
    animation-duration: 2500ms;
    animation-timing-function: ease-out;
    height:200px;
    align-items: center;
    margin: 3vh 0vh 5vh 0vh;
  }

  .box{
    height: 20%;
    width: 470px;
    background-color: #ffffff;
    border-radius: 20px;
    animation-name: box-animate;
    animation-duration: 3500ms;
    animation-timing-function: ease-out;
    background: linear-gradient(180deg, rgba(220.97, 164.90, 247.35, 0.40) 0%, rgba(208.63, 155.69, 233.54, 0.10) 100%);
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.15), 0px 4px 4px 0px rgba(255, 255, 255, 0.13) inset;
    border-radius: 8px;
    backdrop-filter: blur(20px);
    padding:10px 20px 10px 20px;
    display: flex;
    justify-content: space-between;
    
  }

  .counts{
    display: inline-block;
    text-align: center;
    margin: 0px 20px 0px 20px;
  }

  .value, .coln{
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .email{
    position: relative;
    animation-name: box-animate;
    animation-duration: 4500ms;
    animation-timing-function: ease-out;
    width:300px;
    font-size: 12px;
    color: #172C45;
    border-radius: 25px;
    background: #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.30) inset;
    padding:5px;
    padding: 7px 14px 2px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    left:0;
    right:0;
    margin-top:15%;
  }

  .notify{
    position: absolute;
    margin-top: -70px;
    font-size: 15px;
    color: #ffffff;
  }

  .closeButton{
    color: #172C45;
    border-radius: 25px;
    background: #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.30) inset;
    padding: auto;
    opacity: 70%;
    border: 0px;
    width: 70px;
    height:27px;
    margin-top:10%;
    padding:7px 10px 5px 10px;
  }

  .iconSend{
    height:20px;
  }

  @keyframes box-animate {
    0% {
      opacity: 0; 
    }
    70% {
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0; 
      transform: scale(1.2);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  input{
    width: 100%;
  }
  
  .inputs{
    background-color: #ffffff;
    border: white;
    color: #172C45;
  }

  input:focus{
    border:none;
    outline: none;
  }

  .notifyButton{
    background-color: #ffffff;
    border:0px;
  }

  .modalContainer{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .modalBackdrop{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .modalContent{
    position: absolute;
    padding: 30px 50px 30px 50px;
    height: 20%;
    width: 13%;
    right:0;
    left:0;
    top:0;
    bottom:0;
    margin: auto;
    background-color: #d5d5d5;
    color:#172C45;
    opacity: 1;
    z-index: 2;
    border-radius: 8px;
  }