.page3-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
  }
  
  .page3-svg {
    position: absolute;
    top:0;
    left:0;
    height: 110%;
    animation-name: fade-in;
    animation-duration: 1450ms;
    animation-timing-function: ease-out;
  }

  .content{
    display: block;
    align-items:center;
    /* margin: auto; */
    padding: 10%;
  }

  .logo{
    opacity: 70%;
    animation-name: box-animate;
    animation-duration: 2500ms;
    animation-timing-function: ease-out;
    height:150px;
    align-items: center;
  }

  .box{
    height: 20%;
    width: 470px;
    background-color: #ffffff;
    border-radius: 20px;
    animation-name: box-animate;
    animation-duration: 3500ms;
    animation-timing-function: ease-out;
    background: linear-gradient(180deg, rgba(220.97, 164.90, 247.35, 0.40) 0%, rgba(208.63, 155.69, 233.54, 0.10) 100%);
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.15), 0px 4px 4px 0px rgba(255, 255, 255, 0.13) inset;
    border-radius: 8px;
    backdrop-filter: blur(7.5px);
    padding:10px 20px 10px 20px;
    display: flex;
    justify-content: space-between;
    
  }

  .counts{
    display: inline-block;
    text-align: center;
    margin: 0px 20px 0px 20px;
  }

  .value, .coln{
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .email{
    opacity: 70%;
    animation-name: box-animate;
    animation-duration: 4500ms;
    animation-timing-function: ease-out;
    width:300px;
    font-size: 12px;
    color: #172C45;
    border-radius: 25px;
    background: #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.30) inset;
    padding:5px;
    padding: 7px 14px 2px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15%;
  }

  .iconSend{
    height:20px;
  }

  @keyframes box-animate {
    0% {
      opacity: 0; 
    }
    70% {
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0; 
      transform: scale(1.2);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  